<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1 style="text-align: center; color: brown">😈하이미디어 레스토랑😈</h1>
<button onclick="location.href='/menu/13'">특정 메뉴 조회 버튼</button>
<button onclick="location.href='/menu/list'">전체 메뉴 조회 버튼</button>
<button onclick="location.href='/menu/querymethod'">쿼리메소드 버튼</button>
<button onclick="location.href='/menu/regist'">신규 메뉴 등록</button>
<button onclick="location.href='/menu/list?deleteMode=true'"> 메뉴 삭제 화면 이동 </button>
</body>
</html>