<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; color: brown">😈하이미디어 레스토랑😈</h1>
    <button onclick="location.href='/menu/13'">특정 메뉴 조회 버튼</button>
    <button onclick="location.href='/menu/list'">전체 메뉴 조회 버튼</button>
    <button onclick="location.href='/menu/querymethod'">쿼리메소드 버튼</button>
    <button onclick="location.href='/menu/regist'">메뉴 등록</button>
    <button onclick="location.href='/menu/modify'">메뉴 수정</button>
    <button onclick="location.href='/menu/delete'">메뉴 삭제</button>
</body>
</html>