<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메뉴수정하기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1> 이것은 메뉴 수정하기 다 </h1>
<!-- 수정하기 버튼 -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyMenuModal">
    메뉴 수정하기
</button>

<!-- 모달 창 -->
<div class="modal fade" id="modifyMenuModal" tabindex="-1" aria-labelledby="modifyMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyMenuModalLabel">메뉴 수정하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 메뉴 수정 폼 -->
                <form action="/menu/modify" method="post">
                    <div class="mb-3">
                        <label for="menuCode">수정할 메뉴 번호</label>
                        <input type="number" class="form-control" id="menuCode" name="menuCode" required>
                    </div>
                    <div class="mb-3">
                        <label for="menuName">새로운 메뉴 이름 입력</label>
                        <input type="text" class="form-control" id="menuName" name="menuName" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">수정 요청</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>