<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>JPA 에서 제공하는 Query Method</h1>
<h3>입력한 가격을 초과하는 메뉴 조회하기 TEST</h3>

<form action="/menu/search" method="get">
    <input type="number" name="menuPrice">
    원을 초과하는 메뉴 목록 조회
    <input type="submit">
</form>
</body>
</html>